*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(21, 21, 95), rgb(18, 18, 95) 40%, rgb(15, 15, 95)), url(images/footprint.png);    
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    max-width: 90px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 40px;
    line-height: 1.5;
    font-size: 16px;
    color: #fff;
}

.map-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.map-btn:hover{
    border: 1px solid yellow;
    background: rgb(98, 98, 0);
    transition: 1s;
}

#map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#campus-map {
    width: 98%;
    height: 97%;
    background: url('images/map.png') no-repeat center center;
    background-size: cover;
}

.map-point {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

#tooltip {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
}
