*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, rgb(83, 162, 245), rgb(17, 104, 198) 40%, rgb(2, 122, 250)), url(images/footprint.png);    
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    max-width: 90px;
    height: auto;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover:after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 40px;
    line-height: 1.5;
    font-size: 16px;
    color: #fff;
}

.map-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.map-btn:hover{
    border: 1px solid yellow;
    background: rgb(98, 98, 0);
    transition: 1s;
}

#map-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#campus-map {
    width: 98%;
    height: 97%;
    background: url('images/map.png') no-repeat center center;
    background-size: cover;
}

.map-point {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    cursor: pointer;
}

#tooltip {
    position: absolute;
    display: none;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* contact page */

.contact_name h1{
    font-size: 62px;
    text-align: center;
    color: #fff;
}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}

.location iframe{
    width: 100%;
}

.contact-info{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div p{
    padding: 0;
    color: #fff;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}
.submit-btn{
    display: inline-block;
    margin-bottom: 30px;
    background: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    font-size: large;
    padding: 12px 34px;
    color: #fff;
}

.submit-btn:hover{
    background: rgb(89, 89, 60);
    transition: 1s;
}