.container{
    text-align: center;
    padding-top: 12px;
}
.header{
    display: inline;
    width: 1vw;
    font-size: 2vw;
    margin-left: 15px;
    font-style: italic;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}